@charset "utf-8";

/* - - - - - - - - - -
  HERO BANNER
 - - - - - - - - - - */
.hero-banner {
  /* https://unsplash.com/photos/black-laptop-computer-turned-on-on-table-vpOeXr5wmR4 */
  background-image:
    /*linear-gradient(#00000000, #00000000),*/
    url("../img/hero-banner.jpg");
  height: 360px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #b0b0b0;

  justify-content: center;
  align-items: center;
  display: flex;

  color: #FFFFFF;
  font-size: 32px;

  /* position: absolute; */
  /* breaks things */
  /* top: var(--app-header-height); */
}

.banner {
  height: 240px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;

  color: #FFFFFF;
  font-size: 32px;

  margin-top: 15px;

  position: relative;
}

.banner+.banner {
  margin-top: 30px;
}

.wizard-js {
  background-image:
    /*linear-gradient(#00000000, #00000000),*/
    url("../img/wizard-js.png");
}

.xander-js-3 {
  background-image:
    /*linear-gradient(#00000000, #00000000),*/
    url("../img/xander-js-3.png");
}

.banner h3 {
  position: absolute;
  top: 15px;
  left: 15px;
}

.banner a {
  display: block;
  position: absolute;
  bottom: 15px;
  right: 15px;

  padding: 5px;
  background-color: var(--app-button-color);
  border-radius: 15px;

  border: 2px solid #00000000;
  transition: border 0.1s ease-in-out;
}

.wizard-js a:hover {
  border-color: #FFFFFF;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  margin-top: 80px;
}

.col2 {
  width: calc(50% - 20px);
  flex: 0 0 auto;

  padding: 5px;
  border: 1px solid #D0D0D0;
  border-radius: 15px;
}

@media screen and (max-width: 880px) {
  .col2 {
    width: min(540px, 100% - 30px);
    margin-inline: auto;
  }

  .wizard-js {
    /* Image gets too small on small screens. This fixes that. */
    background-size: auto;
  }
}

main .social {
  margin-top: 20px;
}

main .social ul {
  /* Something you never taught in class. It seems to work well here for me. */
  width: max-content;
  margin-inline: auto;
}

main .social ul li a {
  transition: color 0.25s ease-in-out;
  font-size: 32px;
}

main .social ul li a:hover {
  color: #0099ff;
}

section .col2 h2 {
  text-align: center;
}

section .col2 p {
  /* Balance wrap makes it look a bit better in my opinion. */
  text-wrap: balance;

  margin-top: 16px;
}